.circle {
    stroke-width: 1px;
    stroke: whitesmoke;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: none;
}
.scrolling-conf{
	overflow-y: auto;
}
/* Tipos de Graficos */
.scrolling-wrapper{
	overflow-x: auto;
}
img {
    cursor: pointer;
}
img:hover {
    box-shadow:0px 0px 5px #000;
}

 /*  Bar Chart  */
 .rectangle:hover {
     opacity: 0.66;
 }

 /* Line chart */
 .line-path {
  fill: none;
  stroke: rgb(3, 129, 66);
  stroke-width: 3;
  stroke-linejoin: round;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2em;
  fill: #8E8883;
}

.title {
  font-size: 1.7em;
  fill: #635F5D;
}